/* ============= Setup ============= */

:root {

    /* Color Styles */

    --black-161: #161513;
    --dark-1011: #101115
    --purple-581: #581DEC;
    --pink-ED4: #ED41DF;
    --melon-FE9: #FE998D;

    /* Font Size */

    --header-1: 3em;
    --header-2: 2.3em;
    --header-3: 2em;
    --header-4: 1.6em;

    --text-regular: 1em;
    --text-min: .9em;

}



/* ============= General ============= */

body {
    background: url(../img/Background.png);
    background-size: cover;
    font-family: 'geomanistregular';
    color: #fff;
}


li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
   }

a {
    text-decoration: none;
}
   

.main_gradient {
    background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.second_gradient {
    background: linear-gradient(45deg, #581DEC 0%, #FE998D, #ED41DF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-5 {
    font-family: 'pano_trial_boldbold';
    font-size: var(--header-1);
}



/* ============= Botones ============= */

.btn-primary {
    padding: .5em;
    background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
    border-radius: 30px;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(100deg, #581DEC 20%, #ED41DF 100%);
    transition: all 2.5s;
}

.btn-outline-secondary {
    padding: .5em;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: #fff;
}

    /*Navbar Button */
.btn-top { 
    padding: .8em 2em;
    border: 0;
    background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
    border-radius: 30px;
    color: #fff;
    font-family: 'geomanisbold'
}




/* ============= Nabvar Style ============= */

.bd-navbar {
    background-color: #161513;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

nav a {
    margin: 0 2em;
}

.navbar-nav {
    padding-top: 4px;
}


/* ============= Hero Section ============= */

.hero {
    padding: 4em 0;
}

.color-dark {
    color: #7B7B7B;
}





/* Desktop lg Version */

@media (max-width: 992px) {

    /* Hero Section */
    .hero {
        padding: 1em 0;
    }

    .hero__img {
        width: 320px;
        height: auto;
        padding-bottom: 1em;
    }

    .display-5 {
        font-size: var(--header-1);
        width: 95%;
    }

    .text-regular p {
        width: 80%;
        margin: auto;
    }

}


/* Tablet Version */

@media (max-width: 768px) {

    /* Hero Section */
    .hero {
        padding: 1em 0;
    }

    .hero__img {
        width: 280px;
        height: auto;
        padding-bottom: 1em;
    }

    .display-5 {
        font-size: var(--header-2);
        width: 95%;
    }

    .text-regular p {
        width: 80%;
        margin: auto;
    }

}

/* Mobile Version */

@media (max-width: 576px) {

    /* Hero Section */
    .hero {
        padding: 0.6em 0;
    }

    .hero__img {
        max-width: 50%;
    }

    .display-5 {
        font-size: var(--header-4);
    }

    .text-regular p {
        font-size: var(--text-min);
        width: 77%;
        margin: auto;
    }

    .btn {
        width: 90%;
        margin: auto;
    }

    /* About Section */
    .about__text {
        text-align: center;
        font-size: var(--text-min);
    }

    .about__img {
        margin: auto;
    }
}