@charset "UTF-8";
/* ============= Setup ============= */ /* ============= Grid System ============= */
.content {
  width: 98%;
  margin: 0 auto;
  padding-left: 3px;
  padding-right: 3px;
}

.gs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -3px;
  margin-right: -3px;
}

[class*=column-], .column {
  max-width: 100%;
  margin-left: 3px;
  margin-right: 3px;
}

.column {
  flex: 1 0 0;
}

.column-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.column-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.column-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.column-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .sm-column {
    flex: 1 0 0;
  }
  .sm-column-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .sm-column-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .sm-column-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-column-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .sm-column-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .sm-column-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-column-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .sm-column-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .sm-column-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-column-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .sm-column-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .sm-column-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* ============= Layout ============= */
/* ============= Media Querie ============= */
/* Método 1 e.e */
/* Método 2 a.e */
/* ============= Setup CSS ============= */
body {
  background: url(../img/Background.png);
  background-size: cover;
  font-family: "geomanistregular";
  color: #fff;
}

li {
  list-style-type: none;
  display: inline;
  vertical-align: middle;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0 1em;
}

.bg__dark {
  background-color: #161513;
}

.pano_text {
  font-family: "pano_trial_boldbold";
  font-size: 2em;
  color: #fff;
}
.pano_text:hover {
  color: #ED41DF;
}

/* ============= Text ============= */
.display-5 {
  font-family: "pano_trial_boldbold";
}
.display-5 .main_gradient {
  background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.display-5 .second_gradient {
  background: linear-gradient(90deg, #581DEC 0%, #FE998D, #ED41DF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.display-5 .span_pink {
  color: #ED41DF;
}
@media screen and (max-width: 1024px) {
  .display-5 {
    font-size: 3em;
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .display-5 {
    font-size: 2.3em;
    width: 95%;
  }
}
@media screen and (max-width: 375px) {
  .display-5 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1024px) {
  .text_regular p {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 375px) {
  .text_regular p {
    font-size: 0.9em;
    width: 77%;
    margin: auto;
  }
}

/* ============= Hero Section ============= */
.hero {
  padding: 4em 0;
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 1em 0;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    padding: 0.2em 0;
  }
}
@media screen and (max-width: 1024px) {
  .hero__img {
    width: 320px;
    height: auto;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 768px) {
  .hero__img {
    width: 280px;
    height: auto;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 375px) {
  .hero__img {
    max-width: 60%;
    margin-bottom: none;
  }
}

/* ============= About Section ============= */
@media screen and (max-width: 375px) {
  .about__text {
    text-align: center;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 375px) {
  .about__img {
    margin: auto;
  }
}

/* ============= Casos de Estudio Section ============= */
.color-dark {
  color: #7B7B7B;
}

.display-6 .strong__elsword {
  font-family: "geomanisbold";
  color: #CD150F;
}
.display-6 .strong__floryquelite {
  font-family: "geomanisbold";
  color: #01583F;
}
.display-6 .strong__petzbook {
  font-family: "geomanisbold";
  color: #E76E29;
}

/* ============= About page ============= */
.oops img {
  width: 30%;
}

/* ============= Portfolio Page ============= */
div .portfolio__item:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

/* ============= Media Querie ============= */
/* Método 1 e.e */
/* Método 2 a.e */
/* ============= Services page ============= */
.display-4 {
  font-family: "geomanisbold";
  font-size: 3.2em;
  text-shadow: #1C1C22 0 0 0.1em, 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

/* -- Petzbook -- */
@media screen and (min-width: 375px) {
  .carousel_petzbook img {
    margin-left: -168%;
  }
}
@media screen and (min-width: 768px) {
  .carousel_petzbook img {
    margin-left: -67%;
  }
}
@media screen and (min-width: 1024px) {
  .carousel_petzbook img {
    margin-left: -46%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel_petzbook img {
    margin-left: -33%;
  }
}
@media screen and (min-width: 1440px) {
  .carousel_petzbook img {
    margin: auto;
  }
}

/* -- Recetario -- */
@media screen and (min-width: 375px) {
  .carousel_book img {
    margin-left: -120%;
  }
}
@media screen and (min-width: 768px) {
  .carousel_book img {
    margin-left: -58%;
  }
}
@media screen and (min-width: 1024px) {
  .carousel_book img {
    margin-left: -44%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel_book img {
    margin-left: -33%;
  }
}
@media screen and (min-width: 1440px) {
  .carousel_book img {
    margin: auto;
  }
}

/* -- Elsword -- */
@media screen and (min-width: 375px) {
  .carousel_els img {
    margin-left: -140%;
  }
}
@media screen and (min-width: 768px) {
  .carousel_els img {
    margin-left: -67%;
  }
}
@media screen and (min-width: 1024px) {
  .carousel_els img {
    margin-left: -44%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel_els img {
    margin-left: -33%;
  }
}
@media screen and (min-width: 1440px) {
  .carousel_els img {
    margin: auto;
  }
}

/* ============= Componentes ============= */
/* ============= Navbar ============= */
.bd-navbar {
  background-color: #161513;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

/* ============= Botones ============= */
.btn-top {
  padding: 0.5em 2em;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
  font-family: "geomanisbold";
}
.btn-top:hover {
  background: linear-gradient(100deg, #581DEC 20%, #ED41DF 100%);
  transition: all 2.5s;
}

.btn-primary {
  padding: 0.5em;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(45deg, #581DEC 0%, #ED41DF 100%);
}
.btn-primary:hover {
  background: linear-gradient(100deg, #581DEC 20%, #ED41DF 100%);
  transition: all 2.5s;
}

.btn-outline-secondary {
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  background: none;
}

@media screen and (max-width: 375px) {
  .btn {
    width: 90%;
    margin: auto;
  }
}

/* ============= Formulario ============= */
div .form-control {
  background-color: #1C1C22;
  border: none;
  height: 50px;
}
div .form-control::placeholder {
  color: #6B7175;
}
div .textarea {
  height: 120px;
}

/* ============= Footer ============= */
.footer__background {
  background: linear-gradient(180deg, #161513 0%, #101115 100%);
}

.copyright {
  color: #7B7B7B;
  font-size: 0.9em;
}

/* ============= Media Querie ============= */
/* Método 1 e.e */
/* Método 2 a.e */

/*# sourceMappingURL=main.css.map */
