
$geomanist-r: 'geomanistregular';
$geomanist-b: 'geomanisbold';
$pano: 'pano_trial_boldbold';

$header-1: 3em;
$header-2: 2.3em;
$header-3: 3.2em;
$header-4: 1.8em;

$text-regular: 1em;
$text-min: .9em;

$text-shadow: #1C1C22 0 0 0.1em,
0px 10px 10px rgba(0,0,0,0.15),
0px 15px 15px rgba(0,0,0,0.1),
0px 20px 20px rgba(0,0,0,0.1);
