@import '../root/mixins';

/* ============= Setup CSS ============= */

body {
    background: url(../img/Background.png);
    background-size: cover;
    font-family: $geomanist-r;
    color: $white;
}

li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
    padding: .5em;
}

a {
    text-decoration: none;
    color: $white;
    margin: 0 1em;
}
  
.bg__dark {
    background-color: $primary-black;
}

/* ============= h1 ============= */ 

.display-5 {
    font-family: $pano;

    .main_gradient {
        @include text-gradient ($main-gradient, text, text, transparent);
    }

    .second_gradient {
        @include text-gradient ($second-gradient, text, text, transparent);
    }

    .span_pink {
        color: $main-pink;
    }
}
