@import '../root/mixins';
@import '../componentes/responsive';

/* ============= Setup CSS ============= */

body {
    background: url(../img/Background.png);
    background-size: cover;
    font-family: $geomanist-r;
    color: $white;
}

li {
    list-style-type: none;
    display: inline;
    vertical-align: middle;
    padding: .5em;
}

a {
    text-decoration: none;
    color: $white;

}
  
.bg__dark {
    background-color: $primary-black;
}

.pano_text {
    font-family: $pano;
    font-size: 2em;
    color: $white;

    &:hover {
        color: $main-pink;
    }
}

/* ============= Text ============= */ 

.display-5 {
    font-family: $pano;

    .main_gradient {
        @include text-gradient ($main-gradient, text, text, transparent);
    }

    .second_gradient {
        @include text-gradient ($second-gradient, text, text, transparent);
    }

    .span_pink {
        color: $main-pink;
    }

    @include large {
        font-size: $header-1;
        width: 95%;
    }

    @include tablet {
        font-size: $header-2;
        width: 95%;
    }

    @include mobile {
        font-size: $header-4;
    }
}

.text_regular {
    p {
        @include large {
            width: 80%;
            margin: auto;    
        }

        @include mobile {
        font-size: $text-min;
        width: 77%;
        margin: auto;
        }
    }
}
