@import '../root/mixins';

/* ============= Botones ============= */

.btn-top { 
    @include button (.5em 2em, none, 30px, $white, $main-gradient);
    font-family: $geomanist-b;
  
    &:hover {
        @include btn-hover ($hover-gradient, all 2.5s)
    }
}

.btn-primary {
    @include button (.5em, none, 30px, $white, $main-gradient);
  
    &:hover {
        @include btn-hover ($hover-gradient, all 2.5s)
    }
}

.btn-outline-secondary {
    @include button (.5em, 1px solid $white, 30px, $white, none);
}

.btn {
    @include mobile {
        width: 90%;
        margin: auto;
    }
}