.btn-top { 
    padding: .8em 2em;
    border: 0;
    background: linear-gradient(45deg, $main-purple 0%, $main-pink 100%);
    border-radius: 30px;
    color: $white;
    font-family: $geomanist-b;
  
    &:hover {
        background: linear-gradient(100deg, $main-purple 20%, $main-pink 100%);
        transition: all 2.5s;
    }
}

.btn-primary {
    padding: .5em;
    background: linear-gradient(45deg, $main-purple 0%, $main-pink 100%);
    border-radius: 30px;
    color: $white;
    border: none;
  
    &:hover {
        background: linear-gradient(100deg, $main-purple 20%, $main-pink 100%);
        transition: all 2.5s;
    }
}

.btn-outline-secondary {
    padding: .5em;
    border: 1px solid $white;
    border-radius: 30px;
    color: $white;
}

  