
/* ============= Formulario ============= */

div {
    .form-control {
        background-color: #1C1C22;
        border: none;
        height: 50px;

        &::placeholder {
            color: #6B7175;
        }
    }

    .textarea {
        height: 120px;
    }
}